* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: hsl(218, 28%, 13%); 
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400, 700;
}

header,
button ,h1{
  font-family: "Raleway", sans-serif;
  font-weight: 400,700;
}

/* grid layout */

[class*="col-"] {
  float: left;
  padding: 15px;
  /* border: 1px #ffffff solid; */
}

.row {
  width: 80%;
  margin: 0 auto;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 { width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 { width: 75%;}
.col-10 {width: 83.33%;}
.col-11 { width: 91.66%;}
.col-12 {width: 100%;}


/* navigation */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  
}
.navbar_links ul {
  margin: px;
  padding: 10px;
  display: flex;
}
.navbar_links li {
  list-style: none;
  padding: 30px;
}

.navbar_links li a {
  text-decoration: none;
  padding: 1rem;
  display: block;
}

/* introduction */
.introduction,header{
  background-color: hsl(217, 28%, 15%);
}
.introduction{
  background-image: url("../images/bg-curvy-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}
.introduction img {
  width: 100%;
}
.introduction .col-8 {
  display: flex;
  justify-content: center;
}

.intro-text {
  text-align: center;
}

button {
  cursor: pointer;
  padding: 12px 60px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-image: linear-gradient(hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  color: #ffffff;
  font-family: Raleway;
  font-weight: 400, 700;
}
.btn-bottom {
  padding: 12px 30px;
}

.services {
  padding: 100px 0;
  text-align: center;
  line-height: 25px;
  background-color: hsl(218, 28%, 13%);
}

.collabration {
  padding: 80px 0;
}

.productive {
  padding: 50px 25px;
  background-color: hsl(218, 28%, 13%);
}

.productive h1 {
  font-size: 45px;
}
.arrow img {
  position: relative;
  top: 4px;
}

.productive p:last-child {
  padding: 20px 0;
}

/* chips */
.testimonial {
  /* position: absolute; */
  /* left: 80px; */
  background-image: url("../images/bg-quotes.png");
  background-position: top left;
  background-repeat: no-repeat;
 
}

.testimony {
  margin-top: 25px;
  padding: 0;
  line-height: 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 700px;
  margin: 10px;
  padding: 10px;
  background-color: hsl(219, 30%, 18%);
}

.chip {
  display: inline-block;
  margin-top: 20px;
  padding: 0 20px;
  height: 60px;
  width: 100%;
  line-height: 25px;
  border-radius: 25px;
}

.chip img {
  float: left;
  margin: 0 20px 0 -20px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.chip .top {
  font-weight: 600;
}

.chip .bottom {
  position: relative;
  top: -20px;
  left: 0;
  font-size: 12px;
}

/* registration */

.registration{
  padding: 100px 0;
  
}
.registration .row{
  position: relative;
  top: 200px;
  padding: 30px 0;

  background-color: hsl(217, 28%, 15%);
  height: 280px;
  text-align: center;
  width: 70%;
}

.registration h1{
  font-size: 35px;
}

#register{
  margin-right: 8px;
  padding: 10px 0;
  width: 32%;
  border-radius: 25px;
  border: none;
  text-align: center;
  outline: none;
  
}

form{
  margin: 16px;
}

footer{
  padding: 150px 0;
  background-color: hsl(216, 53%, 9%);
  height: 400px;
}


footer ul{
  padding: 0;
}
footer ul li{
  list-style-type: none;
  padding: 8px;
  text-align: center;
}
.location-icon{
  position: relative;
  top: 80px;
  float: left;
  margin-right: 40px;

} 

.text-location{
  margin-left: 40px;
}
.contact{
  text-align: left;
}
.email,.phone{
  position: relative;
  float: left; 
  right: 10px; 
}

.phone{
  
  top: 15px;
}
.email,.phone{
  content: "";
  clear: both;
  display: table;
}

footer .row{
  width: 90% 
}

i{
  
  font-size: 45px;
  border: #ffffff 1px;
  border-radius: 300px;

}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


/* media querries */

@media (min-width: 320px) and (max-width:425px){
  [class*="col-"] {
    width: 100%;
    padding: 15px;
    /* border: 1px #ffffff solid; */
  }
  .row{
    width: 90%;
  }
  .logo{
    width: 30%;
    padding: 10px;
  }
  .navbar_links li {
    font-size: 14px;
    padding: 6px;
    
  }
  .navbar{
    width: 90%;
    padding: 4px;
  }

  .introduction{
    background-image: url("../images/bg-curvy-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;


  }
  .productive{
    padding: 40px 0;
  }
  .productive h1{
    font-size: 20px;
  }
  
  .card{
    width: 90%;
  }
  .registration .row{
    height: auto;
    width: 90%;
  }
  .registration h1{
    font-size: 25px;
  }

  #register,.btn-bottom{
    width: 90%;
    margin: 8px;
    padding: 14px;
  }

  footer{
    height: auto;
    padding: 150px 0 0 0;
    
  }
  .footer-logo{
    position: relative;
    right: 60px;
  }

  footer ul li{
    text-align: left;
    
  }
}

@media(width:768px){
  
  [class*="col-"] {
    width: 100%;
    padding: 15px;
    /* border: 1px #ffffff solid; */
  }
  .productive h1{
    text-align: center;
    font-size: 35px; 
  }
  .registration .row{
    height: auto;
    width: 90%;
  }

#register,.btn-bottom{
    width: 50%;
    margin: 8px;
    padding: 14px;
  }

  footer{
    height: auto;
    padding: 150px 0 0 0;
    text-align: center;
  
  }
  .footer-logo{
    position: relative;
    right: 40px;
    
    
  }
  .location-icon{
    position: relative;
    margin-top: 20px;
    padding: 25px 0 0 0;
    
     top: 60px;
     left: 320px;
    /* margin-right: 40px; */
  
  } 

  .text-location{
    padding: 30px 0 ;
    margin: 50px;
  }
 .contact{
   text-align: center;
  
 }
 .phone{
   padding-bottom: 15px;
 }
 .email,.phone{
  position: relative;
  float: none;
  left: 320px;
  
}
}

@media(width:1024px){
  footer .row{
    width: 95%;
  }
}